body {
  font-family: 'Arial';
  color: #646464;
}

h3 {
	text-decoration: underline;
}

a {
	color: navy;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.right-side-wrap {
  float: left;
  width: 20%;
  margin: 0 5% 0 0;
  padding: 0;
}

.left-side {
  float: left;
  width: 20%;
  margin: 0 5% 0 0;
  padding: 0;
  position: relative;
}

.delineations {
  float: left;
  width: 50%;
  font-size: 14px;
}

.delineations div {
  float: left;
  width: 90%;
  padding: 2%;
  margin: 3px;
  position: relative;
}





